* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 90%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

#slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    border: 2px solid white;
}

.slide {
    border-radius: 5px;
}

.slide, .thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.text {
    color:white;
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 80%;
   
}

.text h5 {
    text-align: end;
     margin-right: 120px;
     font-size: 20px;
  
}

.paragraph {
    font-size: 14px;
    width: 80%;
    text-align: end;
    margin-left: 30px;
}

#thumbox {
    width: 25%;
    height: 20%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;

}

.selected {
    border: 2px solid yellow;
}

.button {
    position: absolute;
    background-color:lightgray ;
    width: 30px ;
    height: 30px;
    border-radius: 50%;
    z-index: 3;
    border: none;
    font-size: 20px;

}

.up {
    top: 10px;
    right: 100px;
}

.down {
    bottom: 10px;
    right: 100px ;
}

